.card-img-top{
    height: 40%;
    width: 40%;
    margin: auto;
    
}

.product_image{
   
    width: 70%;
}

.fa-shopping-cart{
    font-size: 40px !important;
}
.fa-user-circle{
    font-size: 40px !important;  
}